<header>
    <div class="header-logo"><a href ="posts">TweetApp</a></div>
    <ul class="header-menus">
      <li><a href ="users_show"></a></li>
      <li><a href ="posts_new">投稿</a></li>
      <li><a href ="posts">投稿一覧</a></li>
      <li><a href ="user">ユーザー一覧</a></li>
      <li><a href ="/">ログアウト</a></li>
    </ul>
  <!-- <?php else: ?> -->
    <div class="header-logo"><a href ="/">TweetApp</a></div>
    <ul class="header-menus">
      <li><a href ="/about">TweetAppとは</a></li>
      <li><a href ="/signup">新規登録</a></li>
      <li><a href ="/login">ログイン</a></li>
    </ul>
</header>
